---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
  <!-- Sección Título -->
  <div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Contacto" description="Conectemos para comenzar un nuevo camino juntos." />
  </div>

  <!-- Formulario de Contacto -->
  <div class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]">
    
    <div class="py-12 px-4 md:px-20 md:w-8/12 md:py-10">
      <form action="#" class="space-y-8 md:w-full">
        
        <!-- Opciones de Contacto -->
        <div class="flex">
          <div class="flex items-center me-4">
            <input id="say-hi" type="radio" name="contact-type" class="w-4 h-4 text-lime bg-black border-black focus:ring-lime">
            <label for="say-hi" class="ms-2 text-base font-medium text-black">Dí hola</label>
          </div>
          <div class="flex items-center me-4 mx-8 md:mx-20">
            <input id="get-quote" type="radio" name="contact-type" class="w-4 h-4 text-lime bg-black border-black focus:ring-lime">
            <label for="get-quote" class="ms-2 text-base font-medium text-black">Reserva un reunión</label>
          </div>
        </div>

        <!-- Campos del Formulario -->
        <div>
          <label for="name" class="block mb-2 text-base font-medium text-black">Nombre</label>
          <input type="text" id="name" class="shadow-sm bg-white border text-black text-base rounded-lg focus:ring-black focus:border-black block w-full p-2.5" placeholder="Tu nombre" required>
        </div>

        <div>
          <label for="email" class="block mb-2 text-base font-medium text-black">Email</label>
          <input type="email" id="email" class="block p-3 w-full text-base text-black bg-white rounded-lg border shadow-sm focus:ring-black focus:border-black" placeholder="Tu email" required>
        </div>

        <div class="sm:col-span-2">
          <label for="message" class="block mb-2 text-base font-medium text-black">Mensaje</label>
          <textarea id="message" rows="6" class="block p-2.5 w-full text-base text-black bg-white rounded-lg shadow-sm border focus:ring-black focus:border-black" placeholder="Escribe tu mensaje"></textarea>
        </div>

        <!-- Botón de Envío -->
        <button type="submit" class="w-full py-5 bg-zinc-900 rounded-[14px] flex justify-center items-center gap-2.5 text-white text-xl font-normal leading-7 hover:bg-white hover:text-black border transition-all">
          Enviar mensaje
        </button>
        
      </form>
    </div>

    <!-- Imagen en Desktop -->
    <div class="hidden sm:block md:grid md:justify-items-end md:w-4/12 md:py-2">
      <img src="./clients/contact.svg" alt="Imagen de contacto" class="w-4/5">
    </div>

  </div>
</Container>
