---
import { Image } from "astro:assets";
import s1 from "../assets/company/instagram.svg";
import s2 from "../assets/company/facebook.svg";
import s3 from "../assets/company/youtube.svg";
import s4 from "../assets/company/tiktok.svg";
import s5 from "../assets/company/linkedin.svg";
import s6 from "../assets/company/zapier.svg";
import Section from "./Section.astro";

const sponsors = [
  { logo: s1, alt: "Instagram logo" },
  { logo: s3, alt: "YouTube logo" },
  { logo: s2, alt: "Facebook logo" },
  { logo: s4, alt: "TikTok logo" },
  { logo: s6, alt: "Zapier logo" },
  { logo: s5, alt: "LinkedIn logo" },
];
---

<Section id="sponsors">
  <div class="flex flex-wrap justify-center items-center gap-6 py-10">
    {sponsors.map((sponsor) => (
      <div class="p-4 flex items-center justify-center">
        <Image 
          src={sponsor.logo} 
          class="h-[10rem] w-[10rem] mx-auto grayscale opacity-50 transition-all duration-300 hover:scale-110 hover:grayscale-0 hover:opacity-100" 
          alt={sponsor.alt} 
          loading="lazy" 
        />
      </div>
    ))}
  </div>
</Section>
